

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log

# Heroku environmental variables, including API keys.
# https://devcenter.heroku.com/articles/config-vars
.env


#checking in node modules to version control due to http://stackoverflow.com/a/17417137/2904811
# npm packages (debatable)
#node_modules

## folder where i keep sample data sets to avoid hitting apis all the time##
scratch

### Emacs ###
*~
\#*\#
\#.*

/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*

