<html>

  <head>
    <title> Mobile device preferences </title>
  </head>

  <body>

    <h1>What mobile devices do my friends prefer?</h1>



	  <% if (data.os) { for (var x in data.os ) { %>
	  

		  <table class="table user-table">
		    <thead></thead>
		    <tbody>
		      <tr><td>
			  <h2><%=x %></h2>
			  <%= data.os[x].count %>
		</td></tr></tbody></table></div>
		<% } } %>
    </div>
  </body>
</html>

	


